<ion-header>
  <ion-toolbar>
    <ion-title class="modal-title">{{ 'report-detail.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)" class="close-button">{{ 'modal.close' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-container">
    <ion-img *ngIf="currentImage.value" [src]="currentImage$ | async" class="current-image"></ion-img>
    <ion-img *ngIf="!currentImage.value" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" class="default-image"></ion-img>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()" class="report-form">
    <ion-item>
      <ion-label color="primary" position="floating" class="form-label">
        {{ 'report-detail.header' | translate }}
      </ion-label>
      <ion-input  type="text" formControlName="title" class="form-input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating" class="form-label">
        {{ 'report-detail.description' | translate }}
      </ion-label>
      <ion-input type="text" formControlName="description" class="form-input large-input"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label color="primary" class="form-label">
        {{ 'report-detail.date' | translate }}
      </ion-label>
    </ion-item>
    <app-special-datetime formControlName="date"></app-special-datetime>
  </form>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="!form.valid" (click)="onSubmit()" class="submit-button">
          {{ mode == 'Edit' ? ('modal.edit' | translate) : ('modal.new' | translate) }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
