<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">{{'report-detail.title' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-button" (click)="onDismiss(null)">{{'modal.close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <input id="fileLoader" type="file" #fileLoader name="files" title="Load Files" hidden>
  <ion-img *ngIf="currentImage.value" [src]="currentImage$ | async" class="current-image"></ion-img>
  <ion-img *ngIf="!currentImage.value" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" class="default-image"></ion-img>
  <ion-button *ngIf="(platform.isNative$ | async)" expand="full" id="picture-button" class="picture-button">{{'change-picture.title' |
    translate}}</ion-button>
  <ion-popover *ngIf="platform.isNative$ | async" style="width:100%" trigger="picture-button" [dismissOnSelect]="true">
    <ng-template>
      <ion-content class="ion-padding">
        <h2>{{'change-picture.title' | translate}}</h2>
      </ion-content>
    </ng-template>
  </ion-popover>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()" class="report-form">
    <ion-item>
      <ion-label position="floating" class="form-label">
        {{'report-detail.title' | translate}}
      </ion-label>
      <ion-input type="text" placeholder="{{'report-detail.title-placeholder' | translate}}"
        formControlName="title" class="form-input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="form-label">
        {{'report-detail.description' | translate}}
      </ion-label>
      <ion-input type="text" formControlName="description" class="form-input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="form-label">
        {{'assignment-detail.date' | translate}}
      </ion-label>
    </ion-item>
    <app-date-time-selectable formControlName="date" class="date-time-selectable"></app-date-time-selectable>
  </form>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button [disabled]="!form.valid" (click)="onSubmit()" class="submit-button">{{mode=="Edit"?('modal.edit' | translate):('modal.new'
          | translate)}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
