.parkImg::part(image){
    height: 200px;
    width: 200px;
    margin-left: 20px;
    border-radius: 300px;

}

img{
    width: 30px;

}

ion-col{
    margin: 10px;
    text-align: center;
    min-width: 300px;
}
ion-row{
    text-align: center;
}
