<ion-card class="myplace-card">
  <ion-card-content class="place-actions">
    <ion-card-title class="place-number">{{'place.text' | translate}}{{place.number}}</ion-card-title>    
    <ion-button class="place-action" fill="clear" (click)="onEditClick()">
      <ion-icon name="create"></ion-icon>
      {{'modal.edit' | translate | uppercase}}
    </ion-button>
    <ion-button class="place-action" fill="clear" color="danger" (click)="onDeleteClick()">
      <ion-icon name="trash"></ion-icon>
      {{'modal.delete' | translate | uppercase}}
    </ion-button>
  </ion-card-content>
</ion-card>
