ion-toolbar {
    --background: #2c82c9;
    --color: #fff;
    --border-width: 0px;
  
    ion-title {
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    ion-buttons {
      ion-button {
        --color: #fff;
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }
  *{
    font-family: 'MiFuente';
  }

.notification-modal {
    right: 0;
    transform: translateX(100%);
    animation: slideInRight 0.3s ease-in-out forwards;

}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}