ion-toolbar {
    --background: #2c82c9;
    --color: #fff;
    --border-width: 0px;
  
    ion-title {
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    ion-buttons {
      ion-button {
        --color: #fff;
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }
  *{
    font-family: 'MiFuente';
  }
  .image-style {
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    display: block;
    height: 300px;
    margin-top: 200px;
  }
  
  .no-parkings-text {
    text-align: center;
    color: #888888;
    font-style: italic;
    margin: 20px;
  }
  