<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'parking.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let parking of (getParkings() | async)" size="12" size-md="6" size-lg="4">
        <div class="parking-item">
          <app-parking [parking]="parking" (onEdit)="onEditParking($event)" (onDelete)="onDeleteParking($event)"
            (onHire)="onHireParking($event)"></app-parking>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="onNewItem()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>