<div class="datetime-selectable-container">
  <ion-accordion-group [multiple]="true" #accordion>
    <ion-accordion value="first" class="accordion">
      <ion-item slot="header" color="light" class="accordion-header">
        <ion-icon name="calendar" class="icon"></ion-icon>
        <ng-container *ngIf="hasValue; else selectDate">
          <ion-label class="selected-date">{{ (date$ | async) | date:'short':undefined:locale.locale }}</ion-label>
        </ng-container>
        <ng-template #selectDate>
          <ion-label class="select-date">Seleccione una fecha y hora</ion-label>
        </ng-template>
        <ion-icon name="chevron-down" class="arrow-icon"></ion-icon>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-datetime #datetime value="{{ (date$ | async) }}" (ionChange)="onDateTimeChanged($event, accordion)"
          [min]="minDate" display-format="DD/MM/YYYY" picker-format="DD/MM/YYYY" cancel-text="Cancelar" done-text="Hecho"
          class="datetime-picker" placeholder="Seleccione una fecha y hora"></ion-datetime>
        <div class="buttons-container">
          <ion-button color="danger" (click)="onCancel(datetime, accordion)" class="cancel-button">Cancelar</ion-button>
          <ion-button color="primary" (click)="onConfirm(datetime, accordion)" class="confirm-button">Hecho</ion-button>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>