<ion-content>

  <ion-slides>
    <ion-slide>
      <div>
        <!-- <h1>Bienvenido a mi aplicación llamada MalagAparca, una aplicación con la que encontrarás aparcamiento fácilmente por
          Málaga</h1> -->

          <h3>{{'homeText1' | translate}}</h3>
          <img src="assets/Logo2.png">
       
      </div>

    </ion-slide>
  
    <ion-slide>
      <div>
       <!-- <h1>Se estima que un ciudadano español pasa entre 70 y 80 horas anuales buscando aparcamiento</h1>-->
       <h3>{{'homeText2' | translate}}</h3>
          <img src="assets/reloj.png">
        
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <h3>{{'homeText3' | translate}}</h3>
          <img src="assets/comenzar.png">
          <h3><ion-button>{{'homeText4' | translate}}</ion-button></h3>
      </div>

    </ion-slide>
  </ion-slides>
</ion-content>