
<ion-app>
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides>
      <ion-slide>
        <div class="slide">
          <h2>{{'welcome' | translate}}</h2>
          <p>{{'homeText1' | translate}}</p>
          <img src="assets/Logo2.png" />
         
        </div>
      </ion-slide>

      <ion-slide>
        <h2>{{'whatDoes' | translate}}</h2>
        
         <p>{{'homeText2' | translate}}</p>
        
        <img src="assets/reloj.png" />
        
      </ion-slide>

      <ion-slide>
        <div>
          <h2>{{'timeToPark'| translate}}</h2>
          <p>{{'homeText3' | translate}}</p>
            <img src="assets/comenzar.png">
            <h3><ion-button href="http://localhost:8100/folder/Assign"  [ngStyle]="{'color':'blue'}">{{'homeText4' | translate}}</ion-button></h3>
        </div>
  
      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-app>