h3{
    padding-bottom: 2%;
}
img{
    width: 25%;
    height: 25%;
    background-color: rgb(62, 166, 166);
    border-radius: 30%;
   
}
ion-slide{
    margin-top: 12%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 15%;
    
}

