<ion-content>

  <ion-slides>
    <ion-slide>
      <div>
        <h1>Bienvenido a mi aplicación llamada MalagAparca, una aplicación con la que encontrarás aparcamiento fácilmente por
          Málaga</h1>
          <img src="assets/Logo2.png">
        <h3>¿Cansado de perder tiempo en Málaga buscando aparcamiento? ¡Esta es tu app! Con nuestra aplicación podrás encontrar nuestras plazas privadas, ver su estado y sus horarios.</h3>
      </div>

    </ion-slide>
  
    <ion-slide>
      <div>
        <h1>Se estima que un ciudadano español pasa entre 70 y 80 horas anuales buscando aparcamiento</h1>
          <img src="assets/reloj.png">
        <h3>Con MalagAparca te aseguramos tener una plaza antes de que salgas de casa, adaptándonos al tipo de vehículo que tengas.</h3>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <h1>Viaja por Málaga con la tranquilidad de dejar tu preciado vehículo en un lugar seguro y cerca tu destino ¡Adelante! ¡Apárcate!</h1>
          <img src="assets/comenzar.png">
          <h3><ion-button>Asignar plaza</ion-button></h3>
      </div>

    </ion-slide>
  </ion-slides>
</ion-content>