<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title>{{ 'myPark.title' | translate }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="(getPlaces() | async) as places">
    <ng-container *ngIf="userPlaces.length > 0 ">
      <ion-list>
        <app-my-place
          *ngFor="let place of userPlaces"
          [place]="place"
          (onEdit)="onEditPlace($event)"
          (onDelete)="onDeletePlace($event)"
        ></app-my-place>
      </ion-list>
    </ng-container>
    <ion-img *ngIf="userPlaces.length === 0" src="../../../assets/garaje.png" class="image-style"></ion-img>
    <div *ngIf="userPlaces.length === 0" class="no-places-text">
      {{ "myPark.addPlace" | translate }}
    </div>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onNewItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

