<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title>{{'myPark.title' |translate}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-label> Esto es un Buscador</ion-label>

  </div>

  <app-my-place *ngFor="let park of (getParks() | async)" [myPlaceInput]="park"> </app-my-place>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>