<ion-header>
    <ion-toolbar>
      <ion-title>{{'my-place-detail.title' | translate}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onDismiss(null)">{{'modal.close' | translate}}</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <input id="fileLoader" type="file" #fileLoader name="files" title="Load Files" hidden>
    <ion-img  *ngIf="currentImage.value" [src]="currentImage$ | async"></ion-img>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
      <ion-item>
        <ion-label position="floating">{{ 'my-place-detail.number' | translate }}
          <span class="required" *ngIf="form.controls.number.errors">&nbsp;&#42;</span>
        </ion-label>
        <ion-input type="text" formControlName="number"></ion-input>
        <span class="validationError" *ngIf="form.controls.number.errors && form.controls.number.errors.maxNumber">
          {{'error.Number' | translate}}
        </span>
        <div *ngIf="form.controls.number.errors?.duplicateNumber" class="error-message">
          {{'error-mesage.repeatedNumber'| translate}}
        </div>

      </ion-item>
    </form>
  </ion-content>
  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button name="add"[disabled]="!form.valid" (click)="onSubmit()">{{mode=="Edit"?('modal.edit' | translate):('modal.new' | translate)}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>