<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-label position="floating" color="primary">{{"user.name" | translate}}</ion-label>
      <ion-input [(ngModel)]="editedUser.name"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating" color="primary">{{"user.lastname" | translate}}</ion-label>
      <ion-input [(ngModel)]="editedUser.lastname"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating" color="primary">{{"user.address" | translate}}</ion-label>
      <ion-input [(ngModel)]="editedUser.address"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating" color="primary">{{"user.phone" | translate}}</ion-label>
      <ion-input [(ngModel)]="editedUser.phone"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating" color="primary">{{"user.picture" | translate}}</ion-label>
    
      <ion-input type="file" (change)="uploadImage($event)" placeholder="Introduce la imagen" [(ngModel)]="editedUser.picture"></ion-input>
    </ion-item>

  </ion-list>
  <ion-button name="edit" expand="full" color="primary" (click)="saveChanges()">{{"modal.savechanges" | translate}}</ion-button>
</ion-content>
