ion-toolbar {
  --background: #2c82c9;
  --color: #fff;
  --border-width: 0px;

  ion-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  ion-buttons {
    ion-button {
      --color: #fff;
      font-weight: bold;
      font-size: 1rem;
    }
  }
}
*{
  font-family: 'MiFuente';
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 20px;

    /* Puedes agregar estilos adicionales para la foto del perfil */
  }

  .profile-info {
    text-align: center;
    margin-bottom: 20px;

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      margin-bottom: 5px;
    }
  }

  .profile-actions {
    ion-button {
      margin-bottom: 10px;
    }
  }
}
