<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ user.name }} {{ user.lastname }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img [src]="user.picture" alt="Profile Picture"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="openEditModal()">Editar perfil</ion-button>
  <ion-button expand="full" color="danger" (click)="deleteProfile()">Eliminar perfil</ion-button>
</ion-content>