<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title>{{'myProfile.title' |translate}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="profile-card">
    <div class="profile-picture">
      <ion-img src={{user.picture}}></ion-img>
    </div>
    <div class="profile-info">
      <h2>{{ user.name }}</h2>
      <p>Email: {{ user.email }}</p>
      <p>Phone: {{ user.phone }}</p>
      <p>Address: {{ user.address }}</p>
    </div>
    <div class="profile-actions">
      <ion-button expand="block" (click)="openEditModal()">Edit Profile</ion-button>
      <ion-button expand="block" color="danger" (click)="deleteProfile()">Delete Profile</ion-button>
    </div>
  </div>
</ion-content>
