<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title>{{'myProfile.title' |translate}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  
    <ion-button (click)="onTranslate()">{{ language === 0 ? 'Español' : 'English' }}</ion-button>

  <div class="profile-card">
    <div class="img-container">
      <img class="image-style" *ngIf="!this.user?.picture" alt=""
      src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      <img class="image-style" *ngIf="this.user != undefined" alt="" [src]="this.imageUrl" />
    </div>
    <div class="profile-info">
      <h2>{{ user.name }} {{user.lastname}}</h2>
      <p>Email: {{ user.email }}</p>
      <p>{{"user.phone"|translate}}: {{ user.phone }}</p>
      <p>{{"user.address" | translate}} {{ user.address }}</p>
    </div>
    <div class="profile-actions">
      <ion-button expand="block" (click)="openEditModal()">{{"modal.edit"|translate}}</ion-button>
      <ion-button expand="block" color="danger" (click)="deleteProfile()">{{"modal.delete" | translate}}</ion-button>
    </div>
  </div>
</ion-content>
