<ion-content class="login-page">
  <div class="login-header">
    <ion-img src="./assets/logo.png" class="logo-image"></ion-img>
  </div>

  <div class="login-form">
    <form [formGroup]="form" (ngSubmit)="onSignIn()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [enterkeyhint]="'next'" autocomplete="email" type="text" formControlName="identifier"></ion-input>
      </ion-item>
      <span class="validationError" *ngFor="let error of errorsToArray(form.controls.identifier.errors)">{{'validators.'+error | translate}}</span>

      <ion-item>
        <ion-label position="floating">{{"user.password" | translate}}</ion-label>
        <ion-input (keyup.enter)="form.valid?onSignIn():null" [enterkeyhint]="'enter'" autocomplete="password" type="password" formControlName="password"></ion-input>
      </ion-item>
      <span class="validationError" *ngIf="hasFormError('passwordProto')">{{'validators.passwordProto' | translate}}</span>
      
      <div class="login-btn-container">
        <ion-button [disabled]="!form.valid" (click)="onSignIn()">{{'login.send' | translate}}</ion-button>
      </div>
    </form>
  </div>
  <div class="login-footer">
    <p>{{"login.noAccountLabel" | translate}}</p>
    <ion-label class="registro" (click)="register()" color="primary" fill="clear">
      <ion-label>{{'register' | translate}}</ion-label>
    </ion-label>
  </div>
</ion-content>
