<ion-accordion-group [multiple]="true" #accordion>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ng-container *ngIf="selectedPark != null">
        <ion-label>{{'place.text' | translate}} - {{ selectedPark.number }}</ion-label>
      </ng-container>
      <ng-container *ngIf="selectedPark == null">{{"parking.selection" | translate}}</ng-container>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-list>
        <ng-container *ngFor="let park of getParks()">
          <ion-item *ngIf="isUserPlace(park)" button detail (click)="onParkClicked(park, accordion)">
            <ion-label>{{'place.text' | translate}} - {{ park.number }} </ion-label>
          </ion-item>
        </ng-container>
      </ion-list>
    </div>
  </ion-accordion>
</ion-accordion-group>
