:root {
	--ion-color-primary: #3ca3a4;
	--ion-color-primary-rgb: 60,163,164;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #358f90;
	--ion-color-primary-tint: #50acad;

	--ion-color-secondary: #95d8e3;
	--ion-color-secondary-rgb: 149,216,227;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #83bec8;
	--ion-color-secondary-tint: #a0dce6;

	--ion-color-tertiary: #95d8e3;
	--ion-color-tertiary-rgb: 149,216,227;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #83bec8;
	--ion-color-tertiary-tint: #a0dce6;

	--ion-color-success: #d9f2f5;
	--ion-color-success-rgb: 217,242,245;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #bfd5d8;
	--ion-color-success-tint: #ddf3f6;

	--ion-color-warning: #a3a43c;
	--ion-color-warning-rgb: 163,164,60;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #8f9035;
	--ion-color-warning-tint: #acad50;

	--ion-color-danger: #a43d3c;
	--ion-color-danger-rgb: 164,61,60;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #903635;
	--ion-color-danger-tint: #ad5050;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

}