<ion-item>
  <ion-label>


    <ion-card>
      <img src="{{ getUserSVC(assignmentInput.idUser).image}}" />
      <ion-icon name="analytics-outline" style="padding-bottom: 5.5%; margin-left: 3.5%;"></ion-icon>
      <img *ngIf="!getPark().image" style="margin-left: 4%;" src="/assets/plazaPredeterminada.jpg" />
      <img *ngIf="getPark().image" style="margin-left: 4%;" src="{{getParkService(assignmentInput.idPark).image}}" />
      <ion-card-header>



        <ion-card-title>{{ getUserSVC(assignmentInput.idUser).name }} {{'txtHired'| translate}}
          {{getParkService(assignmentInput.idPark).location}}
        </ion-card-title>
        <ion-card-subtitle>
          {{'txtStarts' |translate}}
          {{assignmentInput.startsAt | date: 'short'}}
        </ion-card-subtitle>
        <ion-card-subtitle>
          {{'txtEnds' |translate}}
          {{assignmentInput.finishsAt | date: 'short'}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-label>
        <ion-button slot="end" color="danger" (click)="onDeleteClick()"><ion-icon
            name="trash-outline"></ion-icon></ion-button>
        <ion-button slot="end" (click)="onEditClick()"><ion-icon name="create-outline"></ion-icon></ion-button>
      </ion-label>
    </ion-card>

  </ion-label>
</ion-item>