<ion-header>
  <ion-toolbar>
    <ion-title>{{'modal.user.title' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">{{'cancel' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating"> {{'modal.user.name' |translate}} </ion-label>
      <ion-input
      type="text"
      placeholder="{{'modal.placeholder.name' | translate}}"
      formControlName="name"
      ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating"> {{'modal.user.subname'| translate}} </ion-label>
      <ion-input
      type="text"
      placeholder="{{'modal.placeholder.subname' | translate}}"
      formControlName="subname"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> {{'modal.image' | translate}} </ion-label>
      <ion-input
      type="text"
      placeholder="{{'modal.placeholder.image'| translate}}"
      formControlName="image"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> {{'modal.user.vehicle' | translate}} </ion-label>
      <ion-select type="text"
      placeholder= "{{'modal.user.vehicle' | translate}}"
      formControlName="vehicle" placeholder="{{'modal.placeholder.choose' | translate}}">
      <ion-select-option> {{'modal.vehicle.truck' | translate}} </ion-select-option>
      <ion-select-option> {{'modal.vehicle.car' | translate}} </ion-select-option>
      <ion-select-option> {{'modal.vehicle.motorbike' | translate}} </ion-select-option>
      <ion-select-option> {{'modal.vehicle.bike' | translate}}</ion-select-option>
    </ion-select>
      
    </ion-item>

    <ion-button [disabled]="!form.valid" type="submit">{{mode=="Edit"?"Modificar":"Añadir"}}</ion-button> 

  </form>
</ion-content>
  