<ion-header>
  <ion-toolbar>
    <ion-title>Datos de la persona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>Formulario creación usuario</ion-item>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating"> Nombre </ion-label>
      <ion-input
      type="text"
      placeholder="Introduce un nombre"
      formControlName="name"
      ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating"> Apellidos </ion-label>
      <ion-input
      type="text"
      placeholder="Introduce un apellido"
      formControlName="subname"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Foto </ion-label>
      <ion-input
      type="text"
      placeholder="Introduce una foto"
      formControlName="image"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Tipo de vehículo </ion-label>
      <ion-input
      type="text"
      placeholder="Introduce un tipo de vehículo"
      formControlName="vehicle"
      ></ion-input>
    </ion-item>


    <ion-button [disabled]="!form.valid" type="submit">{{mode=="Edit"?"Modificar":"Añadir"}}</ion-button> 

  </form>
</ion-content>
  