<ion-item-sliding #sliding>
  <ion-item>
    <ion-avatar class="userInput">
      <img *ngIf="!userInput.image" src="/assets/avatar1.jpeg" />
      <img *ngIf="userInput.image" [src]="userInput.image" />
    </ion-avatar>
    <ion-label>{{userInput.subname}}, {{userInput.name}}</ion-label>
    <ion-label>{{userInput.vehicle  | translate}}</ion-label>
    <ion-item-option color="white">
      
      <ion-icon name="caret-forward-outline" (click)="onIconClick(sliding)"></ion-icon>
    </ion-item-option>
    
  </ion-item>

 
  <ion-item-options side="end" >
    
    <ion-item-option (click)="onEditClick(sliding)">
      <ion-icon slot="top" name="create" ></ion-icon>
      {{'edit' | translate | uppercase}}
    </ion-item-option>
    <ion-item-option (click)="onDeleteClick(sliding)" color="danger" expandable="Borrar">
      <ion-icon slot="top" name="trash" ></ion-icon>
      {{'delete' | translate | uppercase}}
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>