<ion-toolbar>
  <ion-title>
    MalagAparca
  </ion-title>
  <ion-buttons slot="end">
    <ion-label *ngIf="!isMobile">{{userEmail}}</ion-label>
    <ion-button (click)="signOut()">
      <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-button>
    <ion-buttons slot="end">
      <!-- Resto del código -->
      <ion-button (click)="openNotificationModal()" [class.blink]="!notificationsViewed">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      
    </ion-buttons>
    
    
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-grid class="content-grid">
    <ion-row>
      <ion-col size="12" size-sm="6">
        <ion-card>
          <img src="assets/parking.png" />
          <ion-card-header>
            <ion-card-title>{{'parking.title' | translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{'parking.description' | translate}}
          </ion-card-content>
          <ion-button [routerLink]="['/parkList']" expand="full">{{'enter' | translate}}</ion-button>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="6">
        <ion-card>
          <img src="assets/MiPlaza.png" />
          <ion-card-header>
            <ion-card-title>{{'myPark.title' | translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{'myPark.description' | translate}}
          </ion-card-content>
          <ion-button [routerLink]="['/myPark']" expand="full">{{'enter' | translate}}</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm="6">
        <ion-card>
          <img src="assets/denuncia.png" />
          <ion-card-header>
            <ion-card-title>{{'report.title' | translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{'report.description' | translate}}
          </ion-card-content>
          <ion-button [routerLink]="['/reports']" expand="full">{{'enter' | translate}}</ion-button>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="6">
        <ion-card>
          <img src="assets/perfil.jpg" />
          <ion-card-header>
            <ion-card-title>{{'myProfile.title' | translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{'myProfile.description' | translate}}
          </ion-card-content>
          <ion-button [routerLink]="['/myProfile']" expand="full">{{'enter' | translate}}</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<router-outlet></router-outlet>