<ion-card>
  <div class="status-indicator" [ngClass]="{'free': parking.state === 'free' || parking.state === 'libre', 'occupied': parking.state === 'occupied' || parking.state === 'ocupado'}">
    {{parking.state}}
  </div>
  <div class="ownership-indicator" [ngClass]="{'my-parking': userEmail === parking.placeOwner || userEmail === parking.tenantEmail, 'your-parking': userEmail !== parking.placeOwner && userEmail !== parking.tenantEmail}">
    <span *ngIf="userEmail === parking.placeOwner || userEmail === parking.tenantEmail" class="yellow-bg">{{ 'parking.propertyBanner' | translate }}</span>
  </div>
  
  <ion-card-content class="place-actions">
    <div class="person-container">

      <ion-avatar class="person">
        <img *ngIf="!ownerPicture" alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        <img *ngIf="ownerPicture" alt="Person picture" [src]="ownerImage" />
      </ion-avatar>
      <ion-icon name="arrow-back-outline"></ion-icon>
      <ion-icon name="arrow-forward-outline"></ion-icon>
      <ion-avatar class="person">
        <img *ngIf="!parking?.tenantPicture"
          src="https://img.freepik.com/vector-premium/archivos-png-fondo-vector-transparente-fondo-png_302321-1276.jpg?w=2000" />
        <img *ngIf="parking?.tenantPicture" alt="Person picture" [src]="tenantImage" />
      </ion-avatar>
    </div>

    <ion-card-title>{{"parking.ownerEmail" | translate}}
      <ion-label [ngClass]="{'my-parking-ownerEmail': userEmail == parking.placeOwner}"> {{(place$ | async)?.ownerEmail}}
      </ion-label>
    </ion-card-title>

    <ion-card-title>{{"parking.placeNumber" | translate}}{{(place$ | async)?.number}}</ion-card-title>
    <ion-card-title *ngIf="parking.tenantEmail">{{"parking.tenantEmail" | translate}}
      <ion-label [ngClass]="{
        'my-parking-notMyTenantEmail': userEmail !== parking.tenantEmail && parking.tenantEmail,
        'my-parking-myTenantEmail': userEmail === parking.tenantEmail && parking.tenantEmail
      }">
        {{ parking.tenantEmail }}
      </ion-label>
    </ion-card-title>
    
    <ion-card-subtitle>{{parking.startsAt | date:'short':undefined:locale.locale}}</ion-card-subtitle>
    <ion-card-subtitle>{{parking.finishsAt | date:'short':undefined:locale.locale}}</ion-card-subtitle>


    <ion-button class="place-action" fill="clear" (click)="onEditClick()" [hidden]="userEmail !== parking.placeOwner">
      <ion-icon name="create"></ion-icon>
      {{'modal.edit' | translate | uppercase}}
    </ion-button>
    <ion-button class="place-action" fill="clear" color="danger" (click)="onDeleteClick()"
      [hidden]="userEmail !== parking.placeOwner">
      <ion-icon name="trash"></ion-icon>
      {{'modal.delete' | translate | uppercase}}
    </ion-button>
    <ion-button *ngIf="parking.state !== 'occupied'" 
      class="assign-action" fill="clear" (click)="onHireClick()" [hidden]="userEmail == parking.placeOwner">
      <ion-icon name="enter-outline"></ion-icon>
      {{'modal.assign' | translate | uppercase}}
    </ion-button>

  </ion-card-content>

</ion-card>