ion-label{
    margin-left: 15px;
}
--icono{
    width: 1000px;
}
img{
    text-align: center;
    width: 500px;
    height: 300px;
    margin: 20px;
}
ion-card{
    text-align: center;
    margin: 40px;
}
