
<ion-card>

    <img *ngIf="!parkInput.image" src="/assets/plazaPredeterminada.jpg" />
    <img *ngIf="parkInput.image" [src]="parkInput.image" />

  <ion-item>
    <ion-icon name="pin" item-start large></ion-icon>
    <h2> {{'modal.park.parkText' | translate }}
      {{parkInput.location | translate}}
    </h2>

  </ion-item>

  <ion-item>
    <ion-icon name="rocket-outline" item-start large></ion-icon>
    <h2>{{parkInput.vehicle |translate}}</h2>
  </ion-item>

  <ion-label>
    <ion-button slot="end" color="danger" (click)="onDeleteClick()"><ion-icon
        name="trash-outline"></ion-icon></ion-button>
    <ion-button slot="end" (click)="onEditClick()"><ion-icon name="create-outline"></ion-icon></ion-button>
  </ion-label>
</ion-card>