/* Estilos para el encabezado */
.header {
    background-color: #007bff;
    padding: 10px;
  }
  
  .header-toolbar {
    --ion-background-color: #007bff;
    --ion-color-primary: #ffffff;
  }
  .form-label {
    font-weight: bold;
  }
  .header-title {
    color: #ffffff;
    font-size: 18px;
  }
  
  .header-button {
    color: #ffffff;
  }
  
  /* Estilos para el contenido */
  .ion-padding {
    padding: 20px;
  }
  
  .divider {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .divider-label {
    color: #333333;
    font-weight: bold;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  /* Estilos para el pie de página */
  .footer {
    background-color: #f8f8f8;
    padding: 10px;
  }
  
  .footer-grid {
    margin-top: 10px;
  }
  
  .footer-button {
    width: 100%;
    background-color: #007bff;
    color: #ffffff;
  }
  